<%include header%>

<% if(entries.length) {%>
    <% entries.forEach((entry) => {%>
        <div class= "panel panel-defautl">
            <div class= "panel-heading">
                <div class= "text-mited pull-rigth">
                    <%= entry.created %>
                 </div>
                <%= entry.title %>
             </div>
             <div class = "panel-body">
                <%= entry.dir %>
                <%= entry.cel %>
                <%= entry.insta %>
                <%= entry.vicrim %>
                                
            </div>
        </div>
    <% }) %>
<% } else {%>

    <h4>¡No hay ninguna víctima! Por favor, agrega una :( </h4>
    <a href = "/new-entry" class="btn btn-dark pull-rigth"> ¡Agregar cena! </a>
<% } %>


<%include footer%>